<div class="outer-box" style="background-color:ghostwhite">
  <div class="card anim-up" style="animation-delay: 60ms">
    <div class="card-header">
      <h3 class="card-title">Client Portfolio Overview</h3>
    </div>
    <div *ngIf="overviewData; else loading">
      <p class="portfolio-value">
        Portfolio Market Value: <span class="value-highlight">{{ overviewData().portfolioMarketValue}}</span>
      </p>
     
      <div style="display: flex; gap: 32px; align-items: flex-start;">
        <div style="width: 230px; min-width: 220px;">
          <canvas id="assetClassPieChart"></canvas>
        </div>
        
        <div class="portfolio-details" style="flex: 1;">
          <div class="portfolio-table">
            <div class="legend">
              <div class="legend-item">
                <div
                  class="legend-color"
                  style="background-color: rgb(37, 99, 235)"
                ></div>
                Equities
              </div>
              <div class="legend-item">
                <div
                  class="legend-color"
                  style="background-color: rgb(8, 145, 178)"
                ></div>
                Fixed Income
              </div>
              <div class="legend-item">
                <div
                  class="legend-color"
                  style="background-color: rgb(234, 88, 12)"
                ></div>
                Real Estate
              </div>
              <div class="legend-item">
                <div
                  class="legend-color"
                  style="background-color: rgb(124, 58, 237)"
                ></div>
                Alternatives
              </div>
              <div class="legend-item">
                <div
                  class="legend-color"
                  style="background-color: rgb(148, 163, 184)"
                ></div>
                Liquidity
              </div>
            </div>
            <table class="asset-table">
              <thead>
                <tr>
                  <th>Asset Class</th>
                  <th>Current</th>
                  <th>Bandwidth</th>
                  <th>In Range</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let asset of overviewData().assetAllocation">
                  <td>{{ asset.assetClass }}</td>
                  <td>{{ asset.current }}</td>
                  <td>{{ asset.bandwidth }}</td>
                  <td>{{ asset.inRange }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
   </div>
   <ng-template #loading>
      <div class="loading-spinner">Loading portfolio overview...</div>
 </ng-template>
</div>
