<div class="outer-box" style="background-color:ghostwhite">
  <div class="card anim-up">
    <div class="card-header">
      <h3 class="card-title-desc">Performance (12 Months)</h3>
    </div>
    <ng-container *ngIf="performanceData() as data">
      <div *ngIf="data; else loading">
        <div class="content-header-desc">
          <span class="content-header-desc1">{{ data.ytdReturn }}</span>
          <span class="content-header-desc2">YTD Return</span>
        </div>
        <div style="width: 100%; max-width: 600px; margin: 0 auto;">
          <canvas id="performanceChart"></canvas>
        </div>
        
        
      </div>
    </ng-container>
    <ng-template #loading>
      <p>Loading performance data...</p>
    </ng-template>
  </div>
</div>